<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-ItVzjzwMqF0zm7v927RmJAiYXQ9SUC8</string>
	<key>GCM_SENDER_ID</key>
	<string>766226071303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umusic.umb.dev</string>
	<key>PROJECT_ID</key>
	<string>umg-umb-nonprod</string>
	<key>STORAGE_BUCKET</key>
	<string>umg-umb-nonprod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766226071303:ios:8bccd9305311833a1acfa2</string>
</dict>
</plist>